body {
  font-family: lato, "sans-serif";
  color: #373C3F; }

.document-block {
  margin: 0 auto;
  max-width: 1200px;
  overflow: hidden; }

.navigation {
  display: flex;
  justify-content: space-between;
  height: 37px;
  background-color: #373C3F;
  position: relative; }
  .navigation__new-980--logo {
    display: none; }
  .navigation__flex {
    display: flex;
    justify-content: space-between; }
  .navigation__text {
    text-align: left;
    color: white;
    font-size: 12px;
    font-family: montserrat;
    margin: 11px 0 0 18px;
    font-weight: 500; }
  .navigation__context {
    display: none;
    flex-direction: column;
    width: 182px;
    height: 160px;
    position: absolute;
    top: 37px;
    right: 0;
    background-color: #FAFAFA; }
    .navigation__context__link {
      text-decoration: none;
      color: #373C3F; }
    .navigation__context__item {
      box-sizing: border-box;
      cursor: pointer;
      border: solid 1px #f3f0f0;
      font-size: 12px;
      line-height: 30px;
      padding-left: 12px;
      height: 32px; }
      .navigation__context__item:hover {
        border: solid #ACD8AD 1px; }
  .navigation__img {
    cursor: pointer; }
    .navigation__img--active {
      position: absolute;
      right: 0px;
      cursor: pointer;
      color: white;
      font-weight: 700;
      width: 41px;
      height: 37px;
      background-color: #202529;
      text-align: center;
      line-height: 35px; }

.mainImg {
  height: 173px;
  background: url(../img/header-fon.png) center no-repeat;
  background-size: cover; }
  .mainImg__text {
    padding: 18px 0 0 21px;
    color: white;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.1mm; }
  .mainImg__text2 {
    padding-top: 8px; }
  .mainImg__link {
    color: #6B8287;
    font-weight: 700;
    font-size: 14px;
    padding: 9px 0 0 21px;
    cursor: pointer; }

.menu {
  display: flex;
  margin-top: 4px;
  height: 75px; }
  .menu__img {
    background: url(../img/Pizza.png) -21px -233px no-repeat;
    width: 78%; }
    .menu__img--2 {
      background: url(../img/Salads.png) 0px -165px no-repeat; }
    .menu__img--3 {
      background: url(../img/Desserts.png) 0px -28px no-repeat; }
  .menu__text {
    text-align: center;
    line-height: 70px;
    font-size: 20px;
    font-weight: 700;
    height: 75px;
    color: white;
    margin: 0; }
  .menu__arrow {
    background-color: #ACD8AD;
    width: 22%;
    margin: 0; }
    .menu__arrow--white {
      width: 7px;
      height: 7px;
      border-right: solid white 2px;
      border-top: solid white 2px;
      transform: rotate(45deg);
      position: relative;
      top: 30px;
      left: 27px; }

.margin-2px {
  margin-top: 2px; }

.header {
  text-transform: uppercase;
  font-size: 20px;
  margin: 20px 0 0 8px; }
  .header__img {
    display: none; }

.small-text {
  color: grey;
  opacity: 0.5;
  font-size: 10px;
  margin: 4px 0 0 8px; }

.header-menu {
  box-sizing: border-box;
  text-transform: uppercase;
  height: 37px;
  line-height: 37px;
  font-size: 20px;
  background-color: #373C3F;
  color: #ACD8AD;
  padding-left: 18px;
  margin-top: 10px; }

.blockMenu {
  width: 287px;
  margin: 17px auto 0; }
  .blockMenu__text-and-logo {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 15px; }
    .blockMenu__text-and-logo__logo {
      position: relative;
      bottom: 6px;
      right: 2px; }
      .blockMenu__text-and-logo__logo--left {
        right: 5px;
        margin-top: 5px; }
  .blockMenu__menu__list {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    margin-top: 12px;
    letter-spacing: 0.1mm; }
  .blockMenu__menu--subscribe {
    font-size: 9px;
    margin-top: 6px;
    line-height: 10px;
    word-spacing: 0.32mm; }

.aqua-menu {
  background-color: #ACD8AD;
  color: white;
  margin-top: 30px; }

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 55px;
  background-color: #ACD8AD;
  text-align: center;
  margin-top: 50px; }
  .footer__text {
    font-size: 13px;
    line-height: 20px;
    color: white; }
  .footer__img {
    display: none; }
  .footer__text980 {
    display: none; }

.context-active {
  display: flex;
  animation: slide320 .4s;
  overflow: hidden; }

.invisible {
  display: none; }

@media screen and (min-width: 321px) {
  .menu__img {
    background-position: bottom;
    background-size: cover; }
    .menu__img--2 {
      background-position: bottom;
      background-size: cover; }
    .menu__img--3 {
      background-position: bottom;
      background-size: cover; } }
@media screen and (min-width: 640px) {
  .navigation {
    height: 74px; }
    .navigation__img {
      width: 82px; }
    .navigation__text {
      font-size: 22px;
      letter-spacing: 0;
      margin: 22px 0 0 36px; }
    .navigation__context {
      width: 245px;
      height: 213px;
      top: 75px;
      background-color: #FAFAFA; }
      .navigation__context__item {
        box-sizing: border-box;
        border: solid 2px #f3f0f0;
        font-size: 18px;
        line-height: 37px;
        padding-left: 24px;
        height: 43px; }
        .navigation__context__item:hover {
          border: solid 2px #ACD8AD; }
    .navigation__img--active {
      width: 82px;
      height: 75px;
      line-height: 75px;
      font-size: 32px; }

  .mainImg {
    height: 346px; }
    .mainImg__text {
      padding: 36px 0 0 42px;
      font-size: 30px;
      letter-spacing: 0.15mm; }
    .mainImg__text2 {
      padding-top: 16px; }
    .mainImg__link {
      font-size: 28px;
      padding: 18px 0 0 42px; }

  .menu {
    height: 150px; }
    .menu__text {
      line-height: 140px;
      font-size: 40px; }
    .menu__arrow--white {
      width: 14px;
      height: 14px;
      border-right: solid white 4px;
      border-top: solid white 4px;
      transform: rotate(45deg);
      position: relative;
      top: 66px;
      left: 54px; }

  .header {
    font-size: 40px;
    margin: 40px 0 0 16px; }

  .small-text {
    font-size: 20px;
    margin: 16px 0 0 16px; }

  .header-menu {
    height: 75px;
    line-height: 75px;
    font-size: 40px;
    padding-left: 36px;
    margin-top: 20px; }

  .blockMenu {
    width: 574px;
    margin: 34px auto 0; }
    .blockMenu__text-and-logo {
      font-size: 30px; }
      .blockMenu__text-and-logo__logo {
        bottom: 12px;
        right: 4px;
        width: auto;
        height: 42px; }
    .blockMenu__menu__list {
      font-size: 26px;
      margin-top: 24px;
      letter-spacing: 0.2mm; }
    .blockMenu__menu--subscribe {
      font-size: 18px;
      margin-top: 12px;
      line-height: 20px;
      word-spacing: 0.45mm; }

  .aqua-menu {
    margin-top: 60px; }

  .footer {
    height: 110px;
    margin-top: 90px; }
    .footer__text {
      font-size: 26px;
      line-height: 40px; }

  .context-active {
    display: flex;
    animation: slide640 .4s;
    overflow: hidden; } }
@media screen and (min-width: 980px) {
  .navigation {
    height: 97px; }
    .navigation__flex {
      padding-left: 30px;
      display: flex;
      justify-content: space-between;
      width: 100%; }
    .navigation__new-980--logo {
      cursor: pointer;
      display: block;
      padding: 8px 30px;
      width: 100px; }
    .navigation__img {
      display: none;
      width: 82px; }
      .navigation__img--active {
        display: none; }
    .navigation__text {
      display: none;
      font-size: 24px;
      margin: 22px 0 0 36px; }
    .navigation__context {
      position: static;
      padding-left: 30px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 55%;
      height: 100%;
      text-transform: uppercase;
      background-color: #373C3F;
      padding: 0; }
      .navigation__context__item {
        border: none;
        padding: 0; }
        .navigation__context__item:hover {
          border: none; }
      .navigation__context__link {
        font-size: 15px;
        color: white; }

  .mainImg {
    height: 530px; }
    .mainImg__text {
      font-size: 54px; }
    .mainImg__text2 {
      padding-top: 24px; }
    .mainImg__link {
      font-size: 34px;
      padding: 27px 0 0 60px; }

  .menu {
    margin-top: 7px;
    width: 33.333%;
    height: 327px; }
    .menu--wrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
      height: 327px; }
    .menu__img {
      width: 100%; }
    .menu__text {
      line-height: 320px;
      font-size: 38px;
      cursor: pointer; }
    .menu__arrow {
      display: none; }

  .header {
    font-size: 38px;
    margin: 80px 0 0 16px; }
    .header--wrapper {
      display: flex;
      justify-content: space-between; }
    .header__img {
      display: block;
      margin: 30px 50px 0 0;
      position: relative;
      top: 40px; }

  .small-text {
    font-size: 20px;
    margin: 16px 0 0 16px; }

  .header-menu {
    height: 75px;
    line-height: 75px;
    font-size: 38px;
    padding-left: 18px;
    margin-top: 0; }
    .header-menu--wrapper {
      display: flex;
      margin-top: 22px; }
      .header-menu--wrapper--half {
        width: 50%; }

  .blockMenu {
    box-sizing: border-box;
    width: 100%;
    margin: 34px auto 0;
    padding: 0 18px 0; }
    .blockMenu__list__price {
      font-weight: 700; }
    .blockMenu__text-and-logo {
      font-size: 30px; }
      .blockMenu__text-and-logo__logo {
        bottom: 12px;
        right: 4px;
        width: auto;
        height: 42px; }
    .blockMenu__menu__list {
      font-size: 26px;
      margin-top: 24px;
      letter-spacing: 0.2mm; }
      .blockMenu__menu__list__price {
        font-weight: 700; }
    .blockMenu__menu--subscribe {
      font-size: 18px;
      margin-top: 12px;
      line-height: 20px;
      word-spacing: 0.45mm; }

  .footer {
    display: none; }
    .footer__wrapper {
      display: flex;
      justify-content: space-between;
      background-color: #ACD8AD;
      align-items: center;
      color: white;
      font-size: 18px;
      padding: 7px 30px;
      margin-top: 84px; }
    .footer__img {
      display: block; }
    .footer__text980 {
      display: block; } }
@media screen and (min-width: 1190px) {
  .mainImg {
    height: 650px; }
    .mainImg__text {
      padding-top: 42px;
      font-size: 62px; }
    .mainImg__text2 {
      line-height: 30px; }
    .mainImg__link {
      font-size: 38px;
      padding-left: 42px;
      margin-top: 30px; }

  .menu {
    height: 400px; }
    .menu__text {
      font-size: 43px;
      line-height: 400px; }
    .menu--wrapper {
      height: 400px; }

  .header {
    font-size: 43px; } }
.invisible {
  display: none; }

.margin-top5 {
  margin-top: 3px; }

.margin-top6 {
  margin-top: 6px; }

.margin-top17 {
  margin-top: 17px; }

@keyframes slide320 {
  0% {
    width: 0;
    height: 0; }
  100% {
    width: 182px;
    height: 161px; } }
@keyframes slide640 {
  0% {
    width: 0;
    height: 0; }
  100% {
    width: 245px;
    height: 213px; } }

/*# sourceMappingURL=style.css.map */
