@import "variables";

body {
  font-family:lato, "sans-serif";
  color: $grey;
}

.document-block {
  margin: 0 auto;
  max-width: 1200px;
  overflow: hidden;
}


.navigation { 
  display: flex; 
  justify-content: space-between;
  height: 37px;
  background-color: $grey;
  position: relative;

  &__new-980 {
    

    &--logo {
      display: none;
    }

  }

  &__flex {
    display: flex;
    justify-content: space-between;
  }

  &__text{ 
    text-align: left;  
    color: white;
    font-size: 12px;
    font-family: montserrat;
    margin: 11px 0 0 18px;    
    font-weight: 500;
  }

  &__context {
    display: none;
    flex-direction: column;    
    width: 182px;
    height: 160px;
    position: absolute;
    top: 37px;
    right: 0;
    background-color: #FAFAFA;

    &__link {
      text-decoration: none;
      color: $grey;
    }

    &__item {
      box-sizing: border-box;
      cursor: pointer;
      border: solid 1px rgb(243, 240, 240);
      font-size: 12px;
      line-height: 30px;
      padding-left: 12px;
      height: 32px;
  
      &:hover {
        border: solid $aqua 1px;
      }
    }
  }


  &__img {
    cursor: pointer;
    // display: none;
    

    &--active {
      position: absolute;
      right: 0px;
      cursor: pointer;     
      color: white;
      font-weight: 700;      
      width: 41px;
      height: 37px;
      background-color: #202529;
      text-align: center;
      line-height: 35px;
    }
  }
}


.mainImg { 
  height: 173px;
  background: url(../img/header-fon.png) center no-repeat;
  background-size: cover;

  &__text {
    padding: 18px 0 0 21px;
    color: white;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.1mm;
  }

  &__text2 {
    padding-top: 8px;
  }

  &__link {
    color: #6B8287;
    font-weight: 700;
    font-size: 14px;
    padding: 9px 0 0 21px;
    cursor: pointer;
  }
}


.menu {
  display: flex;
  margin-top: 4px;
  height: 75px;

  &__img {   
    background: url(../img/Pizza.png) -21px -233px no-repeat;  
    width: 78%;

    &--2 {
      background: url(../img/Salads.png) 0px -165px no-repeat;
    }

    &--3 {
      background: url(../img/Desserts.png) 0px -28px no-repeat;
    }
  }

  &__text {
    text-align: center;
    line-height: 70px;
    font-size: 20px;
    font-weight: 700; 
    height: 75px;  
    color: white; 
    margin: 0;
  }

  &__arrow {
    background-color: $aqua;
    width: 22%;
    margin: 0;

    &--white {
      width: 7px;
      height: 7px;
      border-right: solid white 2px;
      border-top: solid white 2px;
      transform: rotate(45deg);
      position: relative;
      top: 30px;
      left: 27px;
    }
  }
}

.margin-2px {
  margin-top: 2px;
}


.header {
  text-transform: uppercase;
  font-size: 20px;
  margin: 20px 0 0 8px;

  &__img {
    display: none;
  }
}

.small-text {
  color: grey;
  opacity: 0.5;
  font-size: 10px;
  margin: 4px 0 0 8px;
}

.header-menu {
  box-sizing: border-box;
  text-transform: uppercase;
  // width: 320px;
  height: 37px;
  line-height: 37px;
  font-size: 20px;
  background-color: $grey;
  color: $aqua;
  padding-left: 18px;
  margin-top: 10px;
}

.blockMenu {
  width: 287px;  
  margin: 17px auto 0 ;

  &__text-and-logo {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 15px;

    &__logo {
      position: relative;
      bottom: 6px;
      right: 2px;

      &--left{
        right: 5px;
        margin-top: 5px;
      }

    }
  }

  &__menu { 
    
    &__list {
      display: flex;
      justify-content: space-between;
      font-size: 13px;
      margin-top: 12px;
      letter-spacing: 0.1mm;
    }

    &--subscribe {
      font-size: 9px;
      margin-top: 6px;
      line-height: 10px;
      word-spacing: 0.32mm
    }
  }
}


.aqua-menu {
  background-color: $aqua;
  color: white;
  margin-top: 30px;
}


.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
   height: 55px;
   background-color: $aqua;
   text-align: center;
   margin-top: 50px;

   &__text {
     font-size: 13px;
     line-height: 20px;
     color: white;
   }
    

   &__img {
     display: none;
    }
    
    &__text980 {
      display: none;    
    }
    
  }
  

.context-active {
  display: flex;
  animation: slide320 .4s;
  overflow: hidden;
  }

  .invisible { 
    display: none;
  }


@media screen and (min-width: 321px) {
  .menu {
  
    &__img {   
      background-position:  bottom ; 
      background-size: cover;   
      
      
      &--2 {
        background-position: bottom ;
        background-size: cover;   
      }
      
      &--3 {
        background-position: bottom ;
        background-size: cover;   
      }
    }
  }
}

@media screen and (min-width: 640px) {
.navigation{
  height: 74px;  

  &__img {
    width: 82px;
  }

  &__text {
    font-size: 22px;
    letter-spacing: 0;
    margin: 22px 0 0 36px;
  }

  &__context {  
    width: 245px;
    height: 213px;
    top: 75px;
    background-color: #FAFAFA;
  

  &__item {
    box-sizing: border-box;
    border: solid 2px rgb(243, 240, 240);
    font-size: 18px;
    line-height: 37px;
    padding-left: 24px;
    height: 43px;

    &:hover {
      border: solid 2px $aqua;
    }
    }
  }

&__img--active {       
    width: 82px;
    height: 75px;
    line-height: 75px;  
    font-size: 32px;
}
}
  .mainImg {
    height: 346px;
  
    
      &__text {
        padding: 36px 0 0 42px;
        font-size: 30px;
        letter-spacing: 0.15mm;
      }
    
      &__text2 {
        padding-top: 16px;
      }
    
      &__link {
        font-size: 28px;
        padding: 18px 0 0 42px;
      }
    
  }
  
  .menu {
    height: 150px;

    &__text {
      line-height: 140px;
      font-size: 40px;
    }    
  
      &__arrow--white {
        width: 14px;
        height: 14px;
        border-right: solid white 4px;
        border-top: solid white 4px;
        transform: rotate(45deg);
        position: relative;
        top: 66px;
        left: 54px;
      }    
  }
  

  .header {
    font-size: 40px;
    margin: 40px 0 0 16px;
  }
  
  .small-text {
    font-size: 20px;
    margin: 16px 0 0 16px;
  }
  
  .header-menu {
    height: 75px;
    line-height: 75px;
    font-size: 40px;
    padding-left: 36px;
    margin-top: 20px;
  }
  
  .blockMenu {
    width: 574px;  
    margin: 34px auto 0 ;
  
    &__text-and-logo {
      font-size: 30px;
  
      &__logo {
        bottom: 12px;
        right: 4px;
        width: auto;
        height: 42px;
  
      }
    }
  
    &__menu { 
      
      &__list {
        font-size: 26px;
        margin-top: 24px;
        letter-spacing: 0.2mm;
      }
  
      &--subscribe {
        font-size: 18px;
        margin-top: 12px;
        line-height: 20px;
        word-spacing: 0.45mm
      }
    }
  }
  
  
  .aqua-menu {
    margin-top: 60px;
  }
  
  
  .footer {
     height: 110px;
     margin-top: 90px;;
  
     &__text {
       font-size: 26px;
       line-height: 40px;
     }
  }
  .context-active {
    display: flex;
    animation: slide640 .4s;
    overflow: hidden;
    }
  }

@media screen and (min-width: 980px) {

    .navigation{
      height: 97px;  

      &__flex {        
        padding-left: 30px;
        display: flex;
        justify-content: space-between;
        width: 100%;

      }

      &__new-980 {        

        &--logo{
          cursor: pointer;
          display: block;
          padding: 8px 30px;
          width: 100px;

        }

      }
    
      &__img {
        display: none;
        width: 82px;

        &--active {
          display: none;
        }
      }
    
      &__text {
        display: none;
        font-size: 24px;
        margin: 22px 0 0 36px;
      }
    
      &__context { 
        position: static;      
        padding-left: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 55%;
        height: 100%;
        text-transform: uppercase;
        background-color: $grey;
        padding: 0;

        &__item {
          border: none;
          padding: 0;

          &:hover {
            border:none;
          }
        }

        &__link {
          font-size: 15px;
          color: white;
        }
      }    
      
    
    }
      .mainImg {
        height: 530px;
      
        &__text {
          font-size: 54px;
        } 
    
        &__text2 {
          padding-top: 24px;
        }
    
        &__link {
          font-size: 34px;
          padding: 27px 0 0 60px;
        }
      }
      
      .menu {
        margin-top: 7px;
        width: 33.333%;
        height: 327px;

        &--wrapper {
          display: flex;
          flex-direction: row;
          justify-content: center;
          height: 327px;
        }
      
        &__img { 
          width: 100%;
        }
      
        &__text {
          line-height: 320px;
          font-size: 38px;
          cursor: pointer;
        }
      
        &__arrow {
          display: none;
        }
      }
    
      .header {
        font-size: 38px;
        margin: 80px 0 0 16px;

        &--wrapper {
          display: flex;
          justify-content: space-between;
        }

        &__img {
          display: block;
          margin:30px 50px 0 0;
          position: relative;
          top: 40px;
        }
      }
      
      .small-text {
        font-size: 20px;
        margin: 16px 0 0 16px;
      }
      
      .header-menu {
        height: 75px;
        line-height: 75px;
        font-size: 38px;
        padding-left: 18px;
        margin-top: 0;

        &--wrapper {
          display: flex;
          margin-top: 22px;

          &--half {
            width: 50%;
          }
        }
      }
      
      .blockMenu {
        box-sizing: border-box;
        width: 100%;  
        margin: 34px auto 0 ;
        padding: 0 18px 0;

        &__list__price {
          font-weight: 700;
        }
      
        &__text-and-logo {
          font-size: 30px;
      
          &__logo {
            bottom: 12px;
            right: 4px;
            width: auto;
            height: 42px;
      
          }
        }
      
        &__menu { 
          
          &__list {
            font-size: 26px;
            margin-top: 24px;
            letter-spacing: 0.2mm;

            &__price {
              font-weight: 700;
            }
          }
      
          &--subscribe {
            font-size: 18px;
            margin-top: 12px;
            line-height: 20px;
            word-spacing: 0.45mm;
          }
        }
      }
      
      
      .footer {
        display: none;

        

        &__wrapper {
          display: flex;
          justify-content: space-between;
          background-color: $aqua;
          align-items: center;
          color: white;
          font-size: 18px;
          padding: 7px 30px;
          margin-top: 84px;
          
          
        }
            &__img {
            display: block;
          }
  
          &__text980 {
            display: block;
          }
      }      
  }

@media screen and (min-width: 1190px) {

    .mainImg {
      height: 650px;
    
      &__text {
        padding-top: 42px;
        font-size: 62px;
      } 
  
      &__text2 {
        // padding-top: 30px;
        line-height: 30px;
      }
  
      &__link {
        font-size: 38px;
        padding-left: 42px;
        margin-top: 30px;
      }
    }

    .menu {
      height: 400px;

      &__text {
        font-size: 43px;
        line-height: 400px;;
      }

      &--wrapper {
        height: 400px;
      }
  }

  .header {
    font-size: 43px;
  }
  }








  














.invisible { 
  display: none;
}

.margin-top5 {
  margin-top: 3px;
}

.margin-top6{
  margin-top: 6px;
}

.margin-top17{
  margin-top: 17px;
}

@keyframes slide320 {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 182px;
    height: 161px;
  }
}
@keyframes slide640 {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 245px;
    height: 213px;
  }
}
